
#title {
  background-color: #ff8533;
}

#features {
  background-color: #ff8533;
  padding-top: 20px;
}

.col-lg-6 {
  padding-top: 20px;
}

#footer, #cta {
  background-color: #ff8533;
}
