/* Media Query Breakpoint*/
@media (max-width: 1028px) {
  #title, #cta {
    text-align: center;
  }
}

/* Title */
.col-lg-6 {
  padding-top: 10px;
  
}

.title-image {
  transform: rotate(5deg);
}

#title {
  font-family: "Ubuntu";
}

/* -- Navigation Bar -- */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-size: 5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Ubuntu";
}

/* Features */
#features {
  background-color: #FFFFFF;
  padding: 8% 14%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

/* Pricing */
#pricing, #cta {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.pricing-column {
  padding: 3% 2%;
}

h2 {
  font-family: "Ubuntu";
  font-size: 3rem;
  line-height: 1.5;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2.testimonial-title {
  color: #FFF;
}

h3 {
  font-family: "Ubuntu";
  margin-top: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

body {
  font-family: "Montserrat";
}

/* Container */
.container-fluid {
  padding: 3% 15%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Sections */
.colored-section {
  background-color: #0790f894;
  text-align: center;
}

.icon {
  color: #0790f894;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #000000;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #0790f894;
  padding-bottom: 3rem;
}

#testimonial-carousel {
  padding-top: 1rem;
}

.testimonials-img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  text-align: center;
}

.carousel-item {
  padding: 7% 15%;
}

#footer {
  padding-top: 1rem;
  text-align: center;
}
